[submodule "vendor/quickjs"]
	path = vendor/quickjs
	url = https://github.com/versustunez/quickjs.git
[submodule "vendor/mimalloc"]
	path = vendor/mimalloc
	url = https://github.com/microsoft/mimalloc.git
